.sectionHeader {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

